:root {
    --text-title-color: #252525;
    --text-color: #515151;
    --color-button: #FFFFFF;
    --background-color: #252525;
    --color-h3: #878787;
}

body {
    overflow: hidden;
}

.container {
    font-family: "Open Sans", sans-serif;
    display: flex;
    gap: 120px;
    padding: 10px;
    margin-left: 50px;
}

.title {
    font-family: "Open Sans", sans-serif;
    color: var(--text-title-color);
    font-size: 1.5rem;

}

.container h3 {
    font-size: 1rem;
}

.container .uno, .dos, .tres {
    margin-right: 50px;
    font-size: 0,2em;
    padding: 4 10px;
    gap: 10px;
}
.container img {

    top: 1010%;
    width: 310px;
    height: 230px;

}

.container p {
    font-size: 0.8rem;

}
